{% extends "maintemp.html" %}
{% block title %}
    mainpage
{% endblock %}
{% block css %}

{% endblock %}
{% block body %}
    <div class="container">

        <div class="row">

            <div class=" col-sm-12 col-xs-12">
                <div class="jumbotron">
                    <div>
                    <h1>欢迎来到，红潮布艺</h1>
                    </div>
                </div>
            </div>
        </div>
            <div class="container marketing">

                <!-- Three columns of text below the carousel -->
                <div class="row">
                    <div class="col-lg-4">
                        <img class="img-circle"
                             src="https://sh1a.qingstor.com/graduation-design/image/2955814534_1096256488.64x64.jpg"
                             alt="Generic placeholder image" width="140" height="140">
                        <h2>毛巾绣花</h2>
                        <p>与传统绣花不同的是更易于服装的搭配，且成品的服装亦可使用绣花标来粘贴达到效果。基于传统绣花因起订量以及复杂工艺生产的速度、高昂的价格、服饰加工单一的改进，更易于贴近公司服装LOGO，服装商标等使用</p>
                        <p><a class="btn btn-default" href="#" role="button">查看详情 &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="img-circle"
                             src="https://sh1a.qingstor.com/graduation-design/image/2565260725_1096256488.jpg"
                             alt="Generic placeholder image" width="140" height="140">
                        <h2>贴布绣花</h2>
                        <p>电脑绣花打版也称打带，是指打出卡、带或碟或通过数化等处理来准备花样，指导或激发绣花机和绣框作设计所需的各种运动的过程。这个过程的设计者就是打版师。这个术语来源于机械式的绣花机上通过在纸带上打孔来记录针迹而得。不管是机械式的还是电子式的绣花机，记录针迹的目的都是为了让绣花机能识别并且执行其动作，可能用一个与水平和垂直棒相连的针，用机械方式或鼠标或更现代化的方式来记录那些形成花样所需要的点。</p>
                        <p><a class="btn btn-default" href="#" role="button">查看详情 &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="img-circle"
                             src="https://sh1a.qingstor.com/graduation-design/image/2565024000_1096256488.220x220.jpg"
                             alt="Generic placeholder image" width="140" height="140">
                        <h2>衣帽绣花</h2>
                        <p>窄挨针（steil stitch）这是一种非常窄的来回往复的针法（之字形针）。在草图上它可能表现为一条细线，可以是直的也可以是弯曲的。因为经窄挨针缝后的切边比较牢固结实，因此它常用来包边。有时用窄挨针包扇形饰边（scallop），也有时它和挨针一起对扇形边起加固作用。经剪刀剪后的边缘用窄挨针是最安全的了，它还可保护较宽的挨针。图中的点划线代表返回的针迹，正常情况下是不划出的。</p>
                        <p><a class="btn btn-default" href="#" role="button">查看详情 &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->


                <!-- START THE FEATURETTES -->

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span>
                        </h2>
                        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
                            felis
                            euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce
                            dapibus,
                            tellus ac cursus commodo.</p>
                    </div>
                    <div class="col-md-5">
                        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                             alt="Generic placeholder image">
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7 col-md-push-5">
                        <h2 class="featurette-heading">Oh yeah, it's that good. <span
                                class="text-muted">See for yourself.</span></h2>
                        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
                            felis
                            euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce
                            dapibus,
                            tellus ac cursus commodo.</p>
                    </div>
                    <div class="col-md-5 col-md-pull-7">
                        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                             alt="Generic placeholder image">
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span>
                        </h2>
                        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
                            felis
                            euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce
                            dapibus,
                            tellus ac cursus commodo.</p>
                    </div>
                    <div class="col-md-5">
                        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                             alt="Generic placeholder image">
                    </div>
                </div>

                <hr class="featurette-divider">

                <!-- /END THE FEATURETTES -->


                <!-- FOOTER -->


            </div><!-- /.container -->
            <!--/row-->
        </div>
    </div><!--/.col-xs-12.col-sm-9-->
{% endblock %}

