{% extends "maintemp.html" %}
{% block title %}manage{% endblock %}
{% block  body %}
    <div class="container-fluid" style="position:relative;top: 50px;height: 100%">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" >
                <ul class="nav nav-sidebar">
                    <li><a href="/manageorder1">商品订单</a></li>
                    <li><a href="/managepay">支付单</a></li>
                    <li><a href="/manageuser">用户管理</a></li>
                    <li><a href="/managegood">商品管理</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" style="position: absolute;top: 10px">
                <!-- <h1 class="page-header">Dashboard</h1>

                <!-- <div class="row placeholders">
                   <div class="col-xs-6 col-sm-3 placeholder">
                     <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                     <h4>Label</h4>
                     <span class="text-muted">Something else</span>
                   </div>
                   <div class="col-xs-6 col-sm-3 placeholder">
                     <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                     <h4>Label</h4>
                     <span class="text-muted">Something else</span>
                   </div>
                   <div class="col-xs-6 col-sm-3 placeholder">
                     <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                     <h4>Label</h4>
                     <span class="text-muted">Something else</span>
                   </div>
                   <div class="col-xs-6 col-sm-3 placeholder">
                     <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                     <h4>Label</h4>
                     <span class="text-muted">Something else</span>
                   </div>
                 </div>-->
                {% block HTML %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}