<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>注册界面</title>

    <!-- Bootstrap core CSS -->


    <!-- Custom styles for this template -->
    {% load staticfiles %}
    <link href="https://sh1a.qingstor.com/graduation-design/signin.css" rel="stylesheet">
    <link href="https://sh1a.qingstor.com/graduation-design/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<script language="JavaScript">
    function Check() {
        if (document.getElementsByName('passwd').length!=document.getElementsByName('passwd_re').length) {
            window.alert("lert('not the same')");
        }
        return true;
    }</script>
<div>
    <h1 class="form-signin">欢迎注册</h1>
    <h3 class="form-signin" style="color: #B71E32"> {{ message }}</h3>
</div>
<div class="container">

    <form class="form-signin" action="/sign/" method="POST" onsubmit="return Check()s" name="send">
        {% csrf_token %}
        <div class="form-group">
            <label for="input" class="control-label">用户名</label>
            <input type="text" id="inputEmail" name="name" class="form-control" placeholder="Name"
                   required=""
                   autofocus="">
        </div>

        <div class="form-group">
            <label for="inputEmail" class="control-label">电子邮箱</label>
            <input type="email" id="inputEmail" name="userID" class="form-control" placeholder="Email address"
                   required=""
                   autofocus="">
        </div>
        <div class="form-group">
            <label for="inputPassword" class="control-label">密码</label>
            <input type="password" id="inputPassword" name="passwd" class="form-control" placeholder="Password"
                   required="">
        </div>
        <div class="form-group">
            <label for="inputPassword" class="control-label">确认密码</label>
            <input type="password" id="inputPassword" name="passwd_re" class="form-control"
                   placeholder="Password again"
                   required="">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" VALUE="sign up" onclick="return Check()"
                style="width: 30%;margin: 0 auto">注册
        </button>
    </form>

</div> <!-- /container -->
<script>
    function sign_up_error() {
        {
            alert("登录失败")
        }
    }
</script>
</body>
</html>